@mixin wap-textarea {
  .wap-textarea {
    position: relative;
    padding: pxRem(10) 0;
    &.exist-counter {
      padding-bottom: pxRem(20);
    }
    textarea {
      font-size: pxRem(14);
      line-height: pxRem(20);
      color: #333;
      resize: none;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    .input-clear {
      position: absolute;
      right: pxRem(5);
      top: 50%;
      transform: translateY(-45%);
      font-size: pxRem(14);
      color: #999;
    }
    .textarea-counter {
      position: absolute;
      bottom: 0;  left: 0;  right: 0;
      line-height: pxRem(20);
      color: #B2B2B2;
      text-align: right;
    }
  }
}
